
h1 {
    font-family: Helvetica;
}

body {
    background-color: #F0F0F0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.word-doc {
    width:100%;
    height: 500px;
}

.flipper {
    -webkit-animation: flip 2s; /* Chrome, Safari, Opera */
    animation: flip 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flip {
    100% {-webkit-transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes flip {
    100% {transform: rotate(360deg);}
}

.reverse {
    -webkit-animation: rev 1s; /* Chrome, Safari, Opera */
    animation: rev 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rev {
    100% {-webkit-transform: scaleX(-1);}
}

/* Standard syntax */
@keyframes rev {
    100% {transform: scaleX(-1);}
}

.reverse-back {
    -webkit-animation: revback 1s; /* Chrome, Safari, Opera */
    animation: revback 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes revback {
    100% {-webkit-transform: scaleX(1);}
}

/* Standard syntax */
@keyframes revback {
    100% {transform: scaleX(1);}
}