.glass {
    opacity: 0.8;
}

.glass:hover {
    opacity: 1;
}

textarea.comment {
    resize:none;
    width:100%;
    margin-top: 4px;
}

.comment-box {
    text-align: left;
    border: 1px solid #D4D4D4;
    margin-top: 4px;
    padding: 3px 9px;
    font-family: Helvetica;
    font-size: 12pt;
}

.content {
    font-family: Helvetica;
    font-size: 13pt;
    
}

.panel-right {
     text-align: right;
}

.panel-left {
    float: left;
}    

.no-enjoy {
    width: 20px;
    opacity: 0.6;
    transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}

.no-enjoy:hover {
    opacity: 1;
    transform: scale(1.5) rotate(10deg);
    -o-transform: scale(1.5) rotate(10deg);
    -ms-transform: scale(1.5) rotate(10deg);
    -moz-transform: scale(1.5) rotate(10deg);
    -webkit-transform: scale(1.5) rotate(10deg);   
}

.enjoy {
    opacity: 1;
    width: 20px;
}

h1 {
    font-family: Helvetica;
}
body {
    background-image: url('/images/bgd.jpg');
}
.center {
    text-align: center;
    margin: 0 auto;
}
.word-doc {
    width: 100%;
    height: 500px;
}
.flipper {
    -webkit-animation: flip 2s;
    /* Chrome, Safari, Opera */
    animation: flip 2s;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes flip {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
/* Standard syntax */

@keyframes flip {
    100% {
        transform: rotate(360deg);
    }
}
.reverse {
    -webkit-animation: rev 1s;
    /* Chrome, Safari, Opera */
    animation: rev 1s;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes rev {
    100% {
        -webkit-transform: scaleX(-1);
    }
}
/* Standard syntax */

@keyframes rev {
    100% {
        transform: scaleX(-1);
    }
}
.reverse-back {
    -webkit-animation: revback 1s;
    /* Chrome, Safari, Opera */
    animation: revback 1s;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes revback {
    100% {
        -webkit-transform: scaleX(1);
    }
}
/* Standard syntax */

@keyframes revback {
    100% {
        transform: scaleX(1);
    }
}
#grumpy {
    display: none;
}
.survey-gradient {
    background: linear-gradient(to right, #ff9891, #E2E293, #96bf91);
}
.no-padding {
    padding: 0px;
}
.bouncer {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 40%, 55%, 65%, 100% {
        -webkit-transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-200px);
    }
    47% {
        -webkit-transform: translateY(-100px);
    }
    60% {
        -webkit-transform: translateY(-50px);
    }
}
@-moz-keyframes bounce {
    0%, 20%, 40%, 55%, 65%, 100% {
        -moz-transform: translateY(0);
    }
    30% {
        -moz-transform: translateY(-200px);
    }
    47% {
        -moz-transform: translateY(-100px);
    }
    60% {
        -moz-transform: translateY(-50px);
    }
}
@-ms-keyframes bounce {
    0%, 20%, 40%, 55%, 65%, 100% {
        -ms-transform: translateY(0);
    }
    30% {
        -ms-transform: translateY(-200px);
    }
    47% {
        -ms-transform: translateY(-100px);
    }
    60% {
        -ms-transform: translateY(-50px);
    }
}
@-o-keyframes bounce {
    0%, 20%, 40%, 55%, 65%, 100% {
        -o-transform: translateY(0);
    }
    30% {
        -o-transform: translateY(-200px);
    }
    47% {
        -o-transform: translateY(-100px);
    }
    60% {
        -o-transform: translateY(-50px);
    }
}
@keyframes bounce {
    0%, 20%, 40%, 55%, 65%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-200px);
    }
    47% {
        transform: translateY(-100px);
    }
    60% {
        transform: translateY(-50px);
    }
}
.small-img {
    width: 100px;
}
