.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.hsContent h2, h4 {
    color: white;
}
#go-down {
    margin-top: 75px;
    font-size: 25px;
}
#mission {
    margin-top: -230px;
}
#marriage {
    margin-top: -200px
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.profile-pic {
    border-radius: 50%;
    border: 2px solid white;
}
p {
    font-size: 14px;
}
.caption {
    border-radius: 50%;
    border: 2px solid white;
    margin: 172px 15px 15px 15px;
    color: white;
    width: 180px;
    height: 180px;
    padding: 60px 0px 45px 0px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#copy {
    color: #666666 !important
}
.navbar {
    margin-bottom: 0px !important;
}
#slide-1 .bcg {
    background-image: url('../images/WP_20140607_12_45_22_Pro.jpg')
}
#slide-3 .bcg {
    background-image: url('../images/WP_20141229_21_13_26_Pro.jpg')
}
#slide-2 .bcg, #slide-4 .bcg {
    background: none;
    height: 190px;
    text-align: center
}
#slide-2 *, #slide-4 *, #slide-6 *:not(a){
    color: black;
}
#slide-5 .bcg {
    background-image: url('../images/WP_20141230_10_58_21_Pro.jpg')
}
.relative {
    position: relative;
}

.big-margin {
    margin: 200px;
}

.test {
    width: 150px;
    border-radius: 10px;
    
}

.break-100 {
    height: 100px;
    width:100%;
    visibility: hidden;
}
