body {
background-color:#380000;
text-align:center;
}

table{
margin:auto;
}

h2 {
color:white;
text-shadow: 0.2em 0.2em 0.3em grey;
}

table {
background-color:grey;
}

div.a {
text-align:center;
font-family:cordera;
font-size:16pt;
color:white;
text-shadow: 0.2em 0.2em 0.3em grey;
}
