p {
    font-family:impact;
    font-size:20pt;
    color:DarkSlateGrey;
    border:solid LightSteelBlue;
}

form {
    background-color:PowderBlue;

}

body {
    background-color:white;
    margin-top:75px;
}

a {
    font-family:Lucida;
}

h3 {
    font-style:italic;
}

input {
    text-align:center;
}