body {
    font-family:ariel;
    font-size:20pt;
    background-color:lightGrey;
    text-align:center;

}

form {
    background-color:grey;
    width:20em;
    text-align:right;
    margin:auto;
    box-shadow:3px 3px 10px 3px black inset;
    border-radius:25px;
}

div {
    text-align:center;
}

h1 {
    text-align:center;
}

h2 {
    font-family:impact;
}

div.box {
    width:10em;
    height:2em;
    background-color:white;
    text-align:center;
    margin:auto;
}
br {
    text-align:right;
}

p {
    margin-right:7em;
    margin-left:3em;
    font-size:80%;
    font-weight:bold;
    color:maroon;
}
